<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Weather App</h1>
        <form action="/" method="post">
            <label for="city">Enter city:</label>
            <input type="text" id="city" name="city" required>
            <button type="submit">Get Weather</button>
        </form>
        {% if weather %}
            <h2>{{ weather }}</h2>
        {% endif %}
    </div>
	<footer>
        <p>&copy; 2024 <strong>$Master$Pro</strong>. All rights reserved.</p>
    </footer>
</body>
</html>
